<% layout('./layouts/boilerplate') -%>

<body>
    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h3>Listing details:</h3>
        </div>

        <div class="card col-6 offset-3 show-card" style="width: 18rem;">
            <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="Listing Image">
            <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %></b><br>
                    <%= listing.description %><br>
                    &#8377;<%= listing.price.toLocaleString("en-IN") %><br>
                    <%= listing.location %><br>
                    <%= listing.country %>
                </p>
            </div>
        </div>

        <div class="btns">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 add-btn">Edit</a><br><br>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                <button class="btn btn-dark offset-5">Delete</button>
            </form>
        </div>
    </div>
</body>
</html>
